<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Maintenance</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Description of this website" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="shortcut icon" href="/assets/images/favicon.ico" />
    <link rel="stylesheet" href="/assets/css/style.css" />

</head>

<body>
    <div class="container d-flex h-100">
        <div class="row w-100 justify-content-center align-self-center">
            <div class="shadow p-3 mb-5 rounded p-3 bg-light text-left">
                <h1>Sorry!</h1>
                <h3>This Page is under maintenance</h3>
                <h4 class="text-info">Or requires settings <b>by developer</b>!</h4>
                <div>
                    Come back in some minutes, please!
                </div>
            </div>
        </div>
    </div>
</body>
</html>