
###> symfony/framework-bundle ###
/.idea
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/var/
/public/bundles/
/vendor/
dist/
node_modules/
###< symfony/framework-bundle ###
