<section class="section-min-height bg-light shadow p-3 mb-5 rounded" style="background-color: #ffffdd!important">

    {# INI: ESSE BLOCO PODE SER REMOVIDO, É APENAS PARA INFORMAÇÃO AO DESENVOLVEDOR #}
    <div class="site-module-name container">CONTENT PAGE INCLUDED - ABOUT US</div>
    <div class="site-module-content container">
        <b>File:</b> /templates/content/page-includes/about-us.html.twig
    </div>
    {# FIM ------------------------------------------------------------------------ #}

    <div class="container"><h1>{{ arPage.title }}</h1></div>
    <div class="container">
        {{ arPage.text|raw }}
    </div>
</section>