<section class="section-min-height bg-light shadow p-3 mb-5 rounded" style="background-color: #baf8ff!important">

    {# INI: ESSE BLOCO PODE SER REMOVIDO, É APENAS PARA INFORMAÇÃO AO DESENVOLVEDOR #}
    <div class="site-module-name container">CONTENT BLANK INCLUDED - QUESTION</div>
    <div class="site-module-content container">
        <b>File:</b> /templates/content/page-includes/black_question.html.twig
    </div>
    {# FIM ------------------------------------------------------------------------ #}

    <div class="container"><h1>TITULO DE QUESTION</h1></div>
    <div class="container">
        TEXTO DE QUESTION
    </div>
</section>