
@font-face {
	font-family: 'MuseoModerno';
	src: url('/assets/css/MuseoModerno.ttf')  format('truetype'), url('/assets/css/MuseoModerno.woff')  format('woff'), url('/assets/css/MuseoModerno.woff2')  format('woff2'), url('/assets/css/MuseoModerno.eot')  format('eot'),url('/assets/css/MuseoModerno.otf')  format('otf'); 
}

body {
	height: 100%;
	margin: 0px;
    font: 16px/28px "MuseoModerno", sans-serif !important;}
.card-header .card-message {
	text-align: left;
}

.form-group LABEL {
	font-weight: bold;
	margin-left: 5px;
	margin-bottom: 2px;
	font-size: 90%;
}

.form-title {
	background-color: #ccc;
	border-radius: 5px;
	padding: 5px;
	font-weight: bold;
}

.section-min-height {
	min-height: 500px;
}

.product-category-list-limit-char {
	max-width: 20ch;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

#body_loading_first {
	position: absolute;
	bottom:0;
	left: 0;
	right: 0;
	top:0;
	opacity:0.5;
	background-color:#000;
	color:#fff;
	z-index:9999;
}

.body-loading-load {
	height: 100%;
	width: 100%;
}
.language-style .dropdown-menu{
	min-width: 0 !important;
}




/*Mycode*/
/*mobile*/
@media only screen and (max-width: 600px) {
 .header-tittle-index{
 	font-size: 43px !important;
 }
 .header-subtittle-index{
 	font-size: 22px !important;
 }
}
.menu-mobile-link :nth-child(2){
border-top: 1px solid white !important;
border-bottom: 1px solid white !important;
}

.menu-mobile-link a{
	font-family: 'MuseoModerno' !important;
}
/*COLORS*/
.bg-color-black{
	background-color: #222327 !important;
}


.btn-speak-with-us{
	position: fixed;
	right:31px;
	width: 56px;
	height: 56px;
	background-color: #8ac926;
	list-style-type:none;
	box-shadow: 0px 3px 6px 0px #000000;

}

.btn-speak-with-us img{
	position: center;
}
.dropleft-speak-with-us{
	display: none;
	position: fixed;
	right: 88px;
	top: 53px;
	width:168px;
	height:56px;
	background-color: #8ac926;
	box-shadow: 0px 3px 6px 0px #000000;
	animation-name: anim-dropleft;
	animation-duration: 0.2s; 
}

.btn-speak-with-us:hover img{

	transform: rotate(90deg);
	animation-name: rotateIcon;
	animation-duration: 0.2s;
}

.btn-speak-with-us:hover .dropleft-speak-with-us{
	display: block !important;

}
/*animation speak with us*/
@keyframes anim-dropleft{
	from{ opacity: 0; }
	to{ opacity: 1 ; }
}
/* animation icon speak with us*/

@keyframes rotateIcon {
	from{ transform: rotate(0deg); }
	to{
		transform: rotate(90deg);
	}
}
.box-speak-with-us{
	display: inline-block;
	position: absolute;
    left: 56px;
	width: 56px !important;
	height: 56px !important;
	box-shadow: 0px 2px 3px 0px #000000;
	z-index: 1;
}
.box-speak-with-us-rigth{
	display: inline-block;
	position: absolute;
    left: 112px;
	width: 56px !important;
	height: 56px !important;
	
	/*border-right: 1px solid #000000;*/	
}
.text-speak-with-us{
	left: 50%;
    top: 50%;
    width: 100%;
    transform: translate(-50%,-50%);
	position: absolute;
	text-transform: uppercase;
	font-family: "MuseoModerno" !important;
	font-weight: 600;
	color: white;
	text-align: center;
	z-index: 2;

}
.mobile-menu-speak-with-us{
	width: auto;
	background-color:  #8ac926;
	text-transform: uppercase;
	box-shadow: 0px 3px 6px 0px #000000;
}
.mobile-menu-speak-with-us a{
	font-size: 17px !important;
	color: white !important;
	text-align: center;
}
.background-image-header{
	position: relative;
	color: white !important;
	width: auto;
	height: 85vh;
	margin-bottom: 15vh;
	background-image: url('/assets/images/background-image-index.svg');
	background-position: center;
	background-size: cover;
}

.menu-link-font{
	color: white !important;
	font-size: 17px !important;
	text-transform: uppercase;
	font-weight: bold;
	font-family: 'MuseoModerno' !important;
}
.svg-logo-image{
	width: 150px !important;
}
.navbar-style{
	position: absolute;
	width: 100%;
	z-index: 9;
}
.header-text-index{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}
.header-tittle-index{
	text-align: center;
	font-weight: 350;
	color: white;
	font-size: 61px;
}
.header-subtittle-index{
	text-align: center;
	font-weight: 350;
	color: white;
	font-size: 43px;
}
.tittle-body-index{
	font-family: 'MuseoModerno';
	font-size: 26px;
	font-weight: bold;
	color: #000000;
}
.subtittle-body-index{
	font-family: 'MuseoModerno';
	font-size: 26px;
	font-weight: lighter;
	color: #000000;
}
.index-img-restauration{
	width: 226px !important;
	height: 226px !important;
}
.index-img-restauration:hover{

	background-image: url('/assets/images/negocios-index-hover.svg') !important;
	animation-name: anim-fail;
	animation-duration: 0.07s;
	/*animation-iteration-count: 3;*/
}
@keyframes anim-fail {
	from{
		/*background-image: url('assets/images/negocios-index.svg');*/
		opacity: 0;
}

	to{
		/*background-image: url('assets/images/negocios-index-hover.svg');*/
		opacity: 1;
	}

}


.language-links-menu{
	    font-family: 'MuseoModerno' !important;
}
.language-links-menu:hover{
	color: white !important;
	background-color: #222327 !important; 
}


.index-restoration{
	text-transform: uppercase;
	font-family: 'MuseoModerno', sans-serif;
	font-size: 18px;
	font-weight: bold;
	color: #8019B3;
}

.index-icon-restoration{
	font-size: 80px;
	color: #8019B3;
}
.item-index{
	cursor: pointer;
}
.item-index:hover .img-squares{
	opacity: 1;
	/*font-family: 25px !important;*/
}
.img-squares{
	position: absolute;
	top: 0;
	left: 101px;
	opacity: 0;
}
.background-squares-left{
    display: block;

    background-image: url(/assets/images/background-squares.svg);
    background-repeat: repeat-y;
    position: absolute;
    left: 0;
    top: 85vh;
    z-index: -999;
    width: 25vh;
    height: 100%;

}
.background-squares-right{
    display: block;

    background-image: url(/assets/images/background-squares.svg);
    background-repeat: repeat-y;
    position: absolute;
    right: 0;
    top: 85vh;
    z-index: -999;
    width: 25vh;
    height: 100%;
    
}
