{% extends 'base.html.twig' %}

{% block title %}Products{% endblock %}

{% block body %}

<section>
    <div class="site-module-title container mb-0">
        <h2 class="h1-responsive font-weight-bold text-center mt-4 mb-0">{% trans %}PRODUCT CART{% endtrans %}</h2>
        <p class="text-center w-responsive mx-auto mb-3">See the products in cart</p>
    </div>
    <div class="site-module-content container mt-0">
        <div class="row">
            <div class="col border rounded w-100 text-center text-white my-2 bg-danger">
                {% trans %}There was an error on Cart{% endtrans %}
            </div>
        </div>

        <div class="pb-4 mb-4">
            <div class="d-flex justify-content-end align-items-center">
                <a href="/product/experiences" style="border:#ff5a2c solid 3px; color:#ff5a2c; background:transparent" data-loading-text="Backing" class="btn mx-3">{% trans %}Back to Product List{% endtrans %}</a>
            </div>
        </div>
    </div>
</section>


{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}