<a href="#" class="btn-image middle-info middle-info-sm" style="background-image: url('/assets/images/image-home.png');" title="Acampar">
    <span>Atividades</span>
    <div class="middle-info-btn">SABER MAIS</div>
</a>