<div class="products-headers">
    {#
    <div class="products-headers-title">
        Experiências
    </div>
    <div class="ml-md-auto d-flex flex-wrap flex-column flex-md-row align-items-center justify-content-center justify-content-md-end">
        <div class="products-headers-options w-dropdown">
            Mostrar
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    12 por página
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">Option 1</a>
                    <a class="dropdown-item" href="#">Option 2</a>
                    <a class="dropdown-item" href="#">Option 3</a>
                </div>
            </div>
        </div>
        <div class="products-headers-options w-dropdown">
            Ordenar por
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Popularidade
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">Option 1</a>
                    <a class="dropdown-item" href="#">Option 2</a>
                    <a class="dropdown-item" href="#">Option 3</a>
                </div>
            </div>
        </div>
        <a href="#" class="products-headers-options">
            Ver Mapa
        </a>
        <div class="products-headers-options w-btn-group">
            Ver
            <div class="btn-group btn-grey-group" role="group" aria-label="Basic example">
                <button type="button" class="btn active">
                    <i class="mdi mdi-view-grid"></i>
                </button>
                <button type="button" class="btn">
                    <i class="mdi mdi-view-list"></i>
                </button>
            </div>
        </div>
    </div>
    #}
</div>