<div class="simple-slider">
    {#
    <div>
        <div class="simple-slider-content" style="background-image: url('/assets/images/image-home.png');">
            <div class="simple-slider-content-info">
                <p class="simple-slider-content-info-title">Receba 50% em desconto</p>
                <p class="simple-slider-content-info-subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
            </div>
        </div>
    </div>
    #}
</div>