<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
    </head>
    <body>
        {# <div class="container pt-4 text-center">
        <span>Card Number</span><br> Just for copy and paste for tye redirect
        <input type="text" size="20" name="txtCardNumber" autocomplete="off" data-vp="cardnumber" value="4111111111111111" /> #}
        <br>
        <br>
        <a id="checkout_button" class="btn btn-info" href="{{ redirect_url.redirect_url }}">Redirect Pay now</a>
      </div>
    </body>
</html>

<script>
    document.getElementById('checkout_button').click();

    
</script>